{% extends 'personal/base.html' %}

{% block title %}Hire me{% endblock %}

{% block content %}
<!-- div with top margin of 10 px -->
<div style="margin-top: 50px;">
    <a href="https://www.freelancer.com/affiliates/email/18225913/"><img src="https://cdn3.f-cdn.com/ppic/120595756/logo/18225913/profile_logo_18225913.jpg" style="float: left; margin-right: 20px; margin-bottom:10px; width:100px; max-height: 100px; border-radius: 50%;"></a>
    <div style="min-height:40px;">
        <a style="text-decoration: underline; font-weight: bold;" href="https://www.freelancer.com/affiliates/email/18225913/">Cristian Gustavo Desivo</a>
        <p style="margin: 0;margin-bottom: 6px; white-space: nowrap;overflow: hidden">AI Expert ◆ Prompt Engineer ◆ Mathematician</p>
        
    </div>
    <!-- div with horizontal layout -->
    <div style="display: flex;flex-wrap: wrap;align-items: center;">
        <!-- freelancer icon -->
        <img src="https://www.freelancer.com/static/css/images/landingpage/hireme-widget-builder/fl-bird-icon.png" style="margin: 10px 0;">
        <a href="https://www.freelancer.com/affiliates/email/18225913/" style="display: block;text-decoration: underline;margin: 10px 0 10px 10px;">Hire me on Freelancer.com</a>
    </div>
    <!-- div with horizontal layout -->
    <div style="display: flex;flex-wrap: wrap;align-items: center;">        
            <p><a href="mailto:cdesivo92@gmail.com" style="display: block;margin: 10px 0 10px 10px;"><i class="fa fa-envelope" style="font-size:28px;color:red"></i> Send email</a></p>
    </div>

</div>
{% endblock %}
